# Java-specific
*.class

# Logs
*.log

# IDE files
/.idea/
/.vscode/
/*.iml
/.project
/.classpath
/.settings/

# Build artifacts
/target/
/build/
/out/

# Dependency directories
/.mvn/
/.gradle/
/node_modules/

# Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# Gradle
.gradle
/gradle/
/gradle/wrapper/gradle-wrapper.jar

# Secrets & Environment
.env
application.properties
application.yml

# OS-specific
.DS_Store
Thumbs.db

# Database files
*.db
*.mv.db
*.h2.db
.idea/